@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-slate-900;
        @apply text-white;
    }
}

.flex-center {
    @apply flex justify-center items-center;
}